[submodule "deps/lvgl"]
	path = deps/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "deps/lv_drivers"]
	path = deps/lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "deps/lua-compat-5.3"]
	path = deps/lua-compat-5.3
	url = https://github.com/lunarmodules/lua-compat-5.3.git
[submodule "deps/Lua"]
	path = deps/Lua
	url = https://github.com/walterschell/Lua.git
[submodule "deps/libxkbcommon"]
	path = deps/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon
[submodule "deps/libevdev"]
	path = deps/libevdev
	url = https://github.com/freedesktop/libevdev.git
